.ipynb_checkpoints
Section_2_coadded_maps.ipynb
Section_4_visualize_objects.ipynb
coloms.txt
numpy-pandas-matplotlib_3.ipynb
patches/
seminar.ipynb
task.ipynb
test/
color_patches/
dataset/
imgs/
masks/
